{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "alias": {
          "components": "./lib",
          "tests": "./tests",
          "withStyles": "nebo15-isomorphic-style-loader/lib/withStyles"
        }
      }
    ]
  ]
}
